<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Empleado </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3061/3061341.png" type="image/x-icon">

  <!-- Estilos  -->
  <link rel="stylesheet" th:href="@{css/Form.css}"/>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
          rel="stylesheet"
  />
</head>
<body>
  <a th:href="@{/VerEmpleados}"><img class="flecha" src="https://cdn-icons-png.flaticon.com/512/271/271218.png" alt=""></a>
  <h1> Agregue aquí los datos del empleado</h1>
  <div class="container-form">

    <!--Crear formulario para llenar los datos del  empleado y guardarlo en el objeto emple
    al enviar el formulario ejecuta el servicio GuardarEmpleado-->
    <form th:action="@{/GuardarEmpleado}" th:object="${empl}" method="post">

      <!--Campo para nombre-->
      <label for="nombre">Nombre </label>
      <!-- th:field="*{nombre}" indica donde se guarda el valor ingresado en el objeto emp -->
      <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required="required">


      <!--Campo para correo-->
      <label  for="correo">Correo </label>
      <input type="email" th:field="*{correo}" class="form-control" id="correo" required="required">


      <!--Campo para empresa-->

      <label class="col-md-3" for="empresa">Empresa a la que pertenece :</label>

      <!-- el select va a alimentar el campo empresa del ebjeto empleado -->
      <select th:field="*{empresa}" class="form-control" id="empresa" required="required">
        <!-- opcion que sale de primeras  y vacio-->
        <option th:value=0 ></option>
        <!-- emplealist es donde está la lista de las empresas
        itera la lista de empresas (emprelist) y muestra la empresa con el nombre
        al seleccionar la empresa se guarda el id-->
        <option th:each="empresa : ${emprelist}" th:text="${empresa.nombre}" th:value="${empresa.id}"></option>
      </select>


      <!--Campo para rol-->
      <label class="col-md-3" for="rol">Rol </label>
      <select th:field="*{rol}" class="form-control" id="rol" required="required">
        <!-- el value  es el valor a guardar en el campo rol del objeto empleado-->
        <!-- opcion que sale de primeras  y vacio-->
        <option th:value=0 ></option>
        <option th:value=1>Administrativo</option>
        <option th:value=2>Operativo</option>
        <option th:value=3>Sistemas</option>
        <option th:value=4>Limpieza</option>
        <option th:value=5>Ejecutivo</option>
        <option th:value=6>Financiero</option>
        <option th:value=7>Programador</option>
        <option th:value=8>Desarrollador</option>
        <option th:value=9>Gestor de base de datos</option>
        <option th:value=10>Diseñador</option>
      </select>


      <!--Campo para poner si es activo o inactivo -->
      <!-- en el value se guarda como 1 o 0 pero en  lla base de datos se guarda como true o false y esto ayuda en la autenticación porque si está inactivo es decir que en la base de datos es false no permitirá entrar a la aplicación-->

      <label for="estado">Estado</label>
      <select th:field="*{estado}" id="estado" required="required">
        <!-- el value  es el valor a guardar en el campo rol del objeto empleado-->
        <!-- opcion que sale de primeras  y vacio-->
        <option th:value=0 ></option>
        <option th:value=1>Activo</option>
        <option th:value=0>Inactivo</option>

      </select>



      <!--Boton para enviar all y ejecutar la accion que se especifica en el form -->

      <button type="submit">Envíar</button>


    </form>
  </div>
</body>
</html>
