<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--xmlns:th="http://www.thymeleaf.org me permite engrajar el código del MVC (java) en las platillas html    -->
<head>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3328/3328278.png" type="image/x-icon">
    <title>Lista de Usuarios </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Estilos  -->
    <link rel="stylesheet" th:href="@{css/Init.css}"/>
    <!-- Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"/>

</head>

<body><!-- al usar th indica que se va a trabajaer con thymeleaf-->

<div class="left">
    <a  th:href="@{/Inicio}" >Inicio</a>
    <a class="btnEmpleados" href="">Empleados por empresa</a>
    <a class="btnMovimientos" href="">Movimientos por empresa</a>
    <a  th:href="@{/VerEmpleados}"> Ver todos los empleados</a>
</div>


<div class="right">
    <h1>Sistema de gestión de Ingresos y Gastos</h1>
    <h2>Usuarios</h2>

    <div class="buttons">

        <button type="button" class="btn btn-info">
            <a th:href="@{/Register}">Nuevo</a>
        </button>
        <button class="btnEliminar" type="button">Eliminar</button>
    </div>

    <!--Dibujamos la tabla-->

    <table>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Rol</th>

        </tr>
        <!--Llenamos la tabla dibujada-->
        <!--En nuestro controller, creamos en viewUsuario un modelo con un atributo llamado emplist donde esta guardada la lista de todas las usuarios-->
        <tr  th:each="usuario : ${usualist}">
            <!--th indica que es de  tipo thymeleaf
              each itera
              usuario es el tipo de dato (clase ) que queremos iterar
              ${emplist} es una lista de usuarios, de donde trae los datos-->

            <!--En el modelo de la vista, creamos un atributo llamado id, que es el id de la usuario
              th:text es el tipo de dato a traer en tipo de texto
              y le indicamos del tipo de dato indicado(usuario) se trae el valor-->
            <td><input type="checkbox" name="check" class="checkbox" th:value="${usuario.id}"/></td>
            <!-- el value es el id de la usuario-->
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.correo}"></td>
            <td th:text="${usuario.telefono}"></td>
            <!--paa saber que rol es con el value que se indica en el optioj -->
            <td th:if="${usuario.rol == 'ROLE_ADMIN'}">Administrador</td>
            <td th:if="${usuario.rol == 'ROLE_USER'}">Personal Contable</td>

            <!--
              Estos botones salen en cada fila de la tabla, al hacer click redireccionan a la vista editarUsuario con el id automatico
              <td><button class="eliminar" type="button" ><a th:href="@{/EditarUsuario/{id}(id=${usuario.id})}" >Editar</a></button></td>
              <td><button type="button"><a th:href="@{/EliminarUsuario/{id}(id=${usuario.id})}">Eliminar</a></button></td>


              -->

        <!--TODO mostrar los mensaje
         TODO hacer verificación de que no se  puede ingresar NIT repetidos-->
    </table>
</div>


<!-- <script type="text/javascript" th:src="@{/js/Usuario/ValidarBotones.js}" ></script> -->
<script>
    // seleccionar solo un checkbox
    let checkboxes = document.querySelectorAll('input[type="checkbox"]')

    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            checkboxes.forEach(function(otherCheckbox) {
                if (otherCheckbox !== checkbox)
                    otherCheckbox.checked = false
            })
        })
    })




    const buttonEliminar = document.querySelector(".btnEliminar")
    buttonEliminar.addEventListener("click", function(e) {


        try{

            // saber cual checkbox esta seleccionado
            let checkboxSeleccionado = document.querySelector('input[type="checkbox"]:checked');

            // el value del checkbox es el id de la movimiento
            let idmovimiento = checkboxSeleccionado.value;

            // confirmar si se quiere eliminar la movimiento
            let confirmacion = confirm("¿Está seguro que desea eliminar el usuario?");
            if(confirmacion){
                //redireciona a la página indicada con el atributo id
                window.location.href = "/EliminarUsuario/"+idmovimiento;
            }



        }
        catch (e) {

            alert("No hay ninguna usuario seleccionado");
        }


    })

    //boton editar movimiento
    const buttonEditar = document.querySelector('.btnEditar');

    buttonEditar.addEventListener('click', function(e){

        try{

            // saber cual checkbox esta seleccionado
            let checkboxSeleccionado = document.querySelector('input[type="checkbox"]:checked');
            // el value del checkbox es el id de la movimiento
            let idmovimiento = checkboxSeleccionado.value;


            //redireciona a la página indicada con el atributo id
            window.location.href = "/EditarUsuario/"+idmovimiento;


        }
        catch (e) {

            alert("No hay ninguna movimiento  seleccionada");
        }


    });
</script>

<!-- Mostrar los mensajes que se pusieron en el controlador -->
<script th:inline="javascript"> /*inline es para que se ejecute el codigo javascript con thymeleaf, lo que traemos desde el controlador */
    window.onload=function(){

        let msg= [[${mensaje}]]; // [[${mensaje}]] indica que es  lo que viene de afuera , en este caso en el controlador  le  pusmos como nombre mensaje

        //TODO cambiar el tipo de alerta que aparece
        //TODO agrgar las alertas a los otros archivos

        // verificar que tipo de mensaje se recibe  desde el controlador
        // toastr es una libreria de javascript que permite mostrar mensajes de alerta
        if (msg === "saveOk"){
            alert("Usuario guardada con exito");
            //Command : toastr["success"]("Usuario creada con éxito!")
            }
        else if (msg === "updateOk"){
            alert("Usuario actualizada con exito");
            //Command : toastr["success"]("Usuario actualizada con éxito!")
        }
        else if (msg === "deleteOk"){
            alert("Usuario eliminada con exito");
            //Command : toastr["error"]("Usuario eliminada con éxito!")
        }
        else if (msg === "deleteError"){
            alert("Error al eliminar la usuario ");
            //Command : toastr["error"]("Usuario no ha sido eliminada!")
        }
       /* toastr.options={
            "positionClass": "toast-top-right", posicion de la alerta
            "showDuration":"300", para que dura 3 segundos
            "showMethod":"fadeIn", como debe aparecer
            "hideMethod":"fadeOut", como debe desaparecer
        }
        */
    }

</script>

</body>
</html>