<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/4675/4675269.png" type="image/x-icon">
    <!-- Estilos  -->
    <link rel="stylesheet" th:href="@{css/Inicio.css}"/>

    <!-- Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    
    <title>Inicio</title>
  </head>

  <body>
    <nav>
      <div class="logo">
        <img th:src="@{/img/Logo.png}" alt="Logo" />

      </div>

      <!-- <div class="enlaces"> -->
      <a target="_blank" th:href="@{/VerMovimientos}" >Ingresos y gastos</a>
      <a target="_blank" href="">Usuarios Registrados</a>
      <a target="_blank" th:href="@{/VerEmpresas}">Empresas</a>
      <!-- </div> -->
    </nav>

    <div class="container">
      <div class="box"><p>Sistema de gestión de ingresos y gastos</p></div>
      <div class="box"><p>Sistema de gestión de usuarios Registrados</p></div>
      <div class="box"><p>Sistema de gestión de empresas</p></div>
    </div>
  </body>
</html>
