<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--xmlns:th="http://www.thymeleaf.org me permite engrajar el código del MVC (java) en las platillas html    -->
<head>
    <title>Lista de Empresas - </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<style>
    h1{
        text-align: center;
        color: red;
    }
</style>
<body>

<button type="button" class="btn btn-info"><a th:href="@{/AgregarEmpresa}">Agregar Nueva Empresa</a></button>
<button class="eliminar" type="button" >Editar</button>
<button type="button">Eliminar</button>


<div class="container">
    <h1> Lista de Empresas</h1>
    <!--Dibujamos la tabla-->
    <br><table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Telefono</th>
            <th>NIT</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <!--Llenamos la tabla dibujada-->
        <!--En nuestro controller, creamos en viewEmpresa un modelo con un atributo llamado emplist donde esta guardada la lista de todas las empresas-->
        <tr th:each="empresa : ${emplist}">
            <!--th indica que es de  tipo thymeleaf
            each itera
            empresa es el tipo de dato (clase ) que queremos iterar
            ${emplist} es una lista de empresas, de donde trae los datos-->
            -->

            <!--En el modelo de la vista, creamos un atributo llamado id, que es el id de la empresa
            th:text es el tipo de dato a traer
            y le indicamos del tipo de dato indicado(empresa) se trae el valor-->
            <td th:text="${empresa.id}"></td>
            <td th:text="${empresa.nombre}"></td>
            <td th:text="${empresa.direccion}"></td>
            <td th:text="${empresa.telefono}"></td>
            <td th:text="${empresa.NIT}"></td>
            <!--
            Estos botones salen en cada fila de la tabla, al hacer click redireccionan a la vista editarEmpresa con el id automatico
            <td><button class="eliminar" type="button" ><a th:href="@{/EditarEmpresa/{id}(id=${empresa.id})}" >Editar</a></button></td>
            <td><button type="button"><a th:href="@{/EliminarEmpresa/{id}(id=${empresa.id})}">Eliminar</a></button></td>

            TODO al hacer click en el boton editar ( que será uno al lado del boton nuevo ) saldra  un aler ( o coaulquier campo de  ingresar valor) donde se tendra que ingresar el id de la empresa a eliminar  y tambien se hara con la empresa a editar

            -->
        </tr>

    </table>

</div>

<script th:inline="javascript">
    window.onload=function(){

        const buttonEliminar = document.querySelector('.eliminar');
        console.log(buttonEliminar);
        // redireciona a la página indicada con el atributo id
        buttonEliminar.addEventListener('click', function(e){
            e.preventDefault();
            let id = prompt("Ingrese el id de la empresa a eidtar");
            console.log(id);
            window.location.href = "/EditarEmpresa/"+id;
        });


        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }




    }

</script>

</body>
</html>