<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--xmlns:th="http://www.thymeleaf.org me permite engrajar el código del MVC (java) en las platillas html    -->
<head>
    <title>Lista de Empresas - </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Mostrar Alertas  -->


</head>
<style>
    h1{
        text-align: center;
        color: red;
    }
</style>
<body>

<button type="button" class="btn btn-info"><a th:href="@{/AgregarEmpresa}">Agregar Nueva Empresa</a></button>
<button class="btnEditar" type="button" >Editar</button>
<button class="btnEliminar" type="button">Eliminar</button>


<div class="container">
    <h1> Lista de Empresas</h1>
    <!--Dibujamos la tabla-->
    <br>
    <table class="table table-bordered">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Telefono</th>
            <th>NIT</th>

        </tr>
        <!--Llenamos la tabla dibujada-->
        <!--En nuestro controller, creamos en viewEmpresa un modelo con un atributo llamado emplist donde esta guardada la lista de todas las empresas-->
        <tr th:each="empresa : ${emplist}">
            <!--th indica que es de  tipo thymeleaf
            each itera
            empresa es el tipo de dato (clase ) que queremos iterar
            ${emplist} es una lista de empresas, de donde trae los datos-->

            <!--En el modelo de la vista, creamos un atributo llamado id, que es el id de la empresa
            th:text es el tipo de dato a traer en tipo de texto
            y le indicamos del tipo de dato indicado(empresa) se trae el valor-->
            <td><input type="checkbox" name="check"  class="checkbox" th:value="${empresa.id}"></td><!-- el value es el id de la empresa-->
            <td class="idEmpresa" th:text="${empresa.id}"></td>
            <td th:text="${empresa.nombre}"></td>
            <td th:text="${empresa.direccion}"></td>
            <td th:text="${empresa.telefono}"></td>
            <td th:text="${empresa.NIT}"></td>
            <!--checkbox-->


            <!--
            Estos botones salen en cada fila de la tabla, al hacer click redireccionan a la vista editarEmpresa con el id automatico
            <td><button class="eliminar" type="button" ><a th:href="@{/EditarEmpresa/{id}(id=${empresa.id})}" >Editar</a></button></td>
            <td><button type="button"><a th:href="@{/EliminarEmpresa/{id}(id=${empresa.id})}">Eliminar</a></button></td>


            -->
        </tr>

    </table>

</div>
<!-- Mostrar los mensajes que se pusieron en el controlador -->
<script th:inline="javascript"> /*inline es para que se ejecute el codigo javascript con thymeleaf, lo que traemos desde el controlador */
    window.onload=function(){

        let msg= [[${mensaje}]]; // [[${mensaje}]] indica que es  lo que viene de afuera , en este caso en el controlador  le  pusmos como nombre mensaje

        //TODO cambiar el tipo de alerta que aparece
        //TODO agrgar las alertas a los otros archivos

        // verificar que tipo de mensaje se recibe  desde el controlador
        // toastr es una libreria de javascript que permite mostrar mensajes de alerta
        if (msg === "saveOk"){
            alert("Empresa guardada con exito");
            //Command : toastr["success"]("Empresa creada con éxito!")
            }
        else if (msg === "updateOk"){
            alert("Empresa actualizada con exito");
            //Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg === "deleteOk"){
            alert("Empresa eliminada con exito");
            //Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg === "deleteError"){
            alert("Error al eliminar la empresa ");
            //Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
       /* toastr.options={
            "positionClass": "toast-top-right", posicion de la alerta
            "showDuration":"300", para que dura 3 segundos
            "showMethod":"fadeIn", como debe aparecer
            "hideMethod":"fadeOut", como debe desaparecer
        }
        */
    }

</script>

<!--Validar los botones editar y eliminar-->
<script>

    // seleccionar solo un checkbox
    let checkboxes = document.querySelectorAll('input[type="checkbox"]')

    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            checkboxes.forEach(function(otherCheckbox) {
                if (otherCheckbox !== checkbox)
                    otherCheckbox.checked = false
            })
        })
    })


    //boton editar Empresa
    const buttonEditar = document.querySelector('.btnEditar');

    buttonEditar.addEventListener('click', function(e){

        try{

            // saber cual checkbox esta seleccionado
            let checkboxSeleccionado = document.querySelector('input[type="checkbox"]:checked');
            // el value del checkbox es el id de la empresa
            let idEmpresa = checkboxSeleccionado.value;


            //redireciona a la página indicada con el atributo id
            window.location.href = "/EditarEmpresa/"+idEmpresa;


        }
        catch (e) {

            alert("No hay ninguna Empresa  seleccionada");
        }






    });

    const buttonEliminar = document.querySelector(".btnEliminar")
    buttonEliminar.addEventListener("click", function(e) {


        try{

            // saber cual checkbox esta seleccionado
            let checkboxSeleccionado = document.querySelector('input[type="checkbox"]:checked');

            // el value del checkbox es el id de la empresa
            let idEmpresa = checkboxSeleccionado.value;

            // confirmar si se quiere eliminar la empresa
            let confirmacion = confirm("¿Está seguro que desea eliminar la empresa?");
            if(confirmacion){
                //redireciona a la página indicada con el atributo id
                window.location.href = "/EliminarEmpresa/"+idEmpresa;
            }



        }
        catch (e) {

            alert("No hay ninguna Empresa  seleccionada");
        }


    })
</script>


</body>
</html>