body {
  font-family: 'Inter', sans-serif;
  display: flex;
  margin: 0;

  max-height: 100vh;
}

nav {
  width: 30%;
  display: flex;
  flex-direction: column;
  background: #D9D9D9;
  height: 100vh; /* es el total  ancho de la pantalla disponible */
}

nav a {
  margin: 5% auto; /* para que se centre vertial  */
  padding: 13px 0 13px 10px;
  width: 48%;
  text-decoration: none;
  color: #fff;
  background: #6F6F6F;
  text-align: center;
  border-radius: 2px;
}

nav a:hover {
  background: #4F4F4F;
  transition: 1s;
  /* para que se demore  un poco en suceder   */
}

.logo {
  margin: 30px auto;
  width: 70%;
  height: 180px;
}

.logo img {
  width: 100%;
  height: 100%;
}

h1{
  text-align: center;
  font-size: 40px;
}
/*estilos para el boton de salir*/
#btn-logout{
  margin: 5% 30px; /* para que se centre vertial  */
  padding: 13px 0 13px 10px;
  width: 100%;
  border: none;
  color: #fff;
  background: #6F6F6F;
  cursor: pointer;

}

#btn-logout:hover{
  background: #4F4F4F;
  font-size: 14px;
  transition: 1s;
  /* para que se demore  un poco en suceder   */
}


.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;

}

.bloque1{
  height: 20%;
  justify-content: space-between;
  margin: 0 10%;


}

.bloque2{
  height: 80%;


}

.box {
  width: 25%;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;

}

.box:hover {
  background-color: #BFBFBF;
  width: 25%;
  height: 210px;
  cursor: pointer;
  transition: 1000ms;
  /*  para que se demore  un poco en suceder   */

}

.box p {
  margin: 30% auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}