<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Agregar nueva Empresa </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3061/3061341.png" type="image/x-icon">

    <!-- Estilos  -->
    <link rel="stylesheet" th:href="@{css/Empresa/FormEmpresa.css}"/>



    <!-- Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"/>

  </head>
  <body>
    <a th:href="@{/VerEmpresas}"><img class="flecha" src="https://cdn-icons-png.flaticon.com/512/271/271218.png" alt=""></a>

    <h1>Nueva Empresa</h1>

    <div class="container-form">

      <!--Crear formulario para llenar los datos de la empresa y guardarlo en el objeto emp
      al enviar el formulario ejecuta el servicio GuardarEmpreasa-->
      <form th:action="@{/GuardarEmpresa}" th:object="${emp}" method="post">

        <label for="nombre">Nombre</label>
        <input type="text" th:field="*{nombre}"  id="nombre" required="required">

        <label for="ciudad">Ciudad</label>
        <input type="text" th:field="*{direccion}" id="ciudad" required="required">

        <label for="telefono">Telefono</label>
        <input type="text" th:field="*{telefono}" class="form-control" id="telefono" required="required">

        <label for="NIT">NIT</label>
        <input type="text" th:field="*{NIT}"  id="NIT" required="required">

        <button type="submit">Envíar</button>
      </form>

    </div>

  </body>
</html>