/* Media query para celular */
/* @media screen and (max-width: 760px) { */
  body {
    margin: 0%;  
    background-color: #D9D9D9;
    font-family: 'Inter', sans-serif;  
  }
  
  h1 {
  
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    margin:  100px 0 120px 0;
  }
  
  .container-form{
    
    display: flex;
    /* para alinear vertical y horizontal */
    justify-content: center;
    align-items: center;
    
  
  }
  
  form {
    width: 70%;
    /* border:solid 1px red ; */
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    font-size: 30px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 20px 0 ;
  
  }
  
  input{
    
    padding: 5px ;
    height: 40px;
    width: 100%;
    border: none;
    font-size: 20px;
  
  }
  
  .input_contraseña{
    position: relative;
    
  }
  .input-icon {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 25px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  input:focus{
    outline: none;
  }
  
  button {
  
    width: 70%; /* esto ve con el width del form */
    height: 60px;
    margin: 50px auto 50px  auto;
    background-color:  #9E9E9E;
    border: none;
    font-size: 25px;
    color: #FFF;
    font-weight:normal;
    cursor: pointer;
  
  
  }
  
  button:hover {
    background-color: #6D6D6D;
  }
  
  
  .container-form__register{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 60px;
   
    
  }
  
  .container-form__register a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
  
  }
  
  .container-form__register a:hover{
    color: #9E9E9E;
  }
/* }   */